body{
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  flex-direction: column;
}

button{
  padding: 4px 8px;
  background-color: rgb(49, 49, 243);
  margin: 10px 0px;
  border-radius: 4px;
  border: none;
  font-size: x-large;
  color: black;
  cursor: pointer;
}

h1{
  font-weight: bold;
  font-size: xx-large;
}