body{
  background-color: #111;
  color: white;
}

/* .counter {
  
} */

.count{
  padding: 20px;
  background: gray;
  width: 50px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  border-radius: 10px;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: gray;
  color: white;

}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}